@using NtlSystem.Models.DashboardModels
@using System.Collections.Generic
@model List<mDashboardChatItem>

<table class="table table-bordered table-hover text-center tablesort">
    <thead>
        <tr class="bg-dark">
            <th class="text-white">Platform</th>
            <th class="text-white">Today Runtime</th>
            <th class="text-white">Unread Message</th>
            <th class="text-white">Total Message</th>
            <th class="text-white">Opening Ticket</th>
            <th class="text-white">Status</th>
            <th class="text-white">Last Run Time</th>
            <th class="text-white">Last Message Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.platform</td>
                <td>@obj.todayRuntime</td>
                <td>@obj.unread_msg</td>
                <td>@obj.total_msg</td>
                <td>@obj.opening_ticket</td>
                <td>@obj.status</td>
                <td>@obj.lastRuntime</td>
                <td>@obj.lastMessageTime</td>
            </tr>
        }
    </tbody>
</table>
